@{
	@model SpotifyFake.ViewModels.AllSongsViewModel
}

<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CssRubatoW3S.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/bocelli.css" asp-append-version="true" />
</head>
<html style="background-image: linear-gradient(rgb(34,34,34),rgb(18,18,18))">
<body>
	<div class="right_menu_home">
		<table style="border-spacing: 100px 30px">
			@foreach (Songs songs in Model.Songs)
			{
				<tr>
					<td class="display_playlist_songs" style="align-content:flex-start">
						<img class="display_img_songs" src="~/media/images/songs/@(songs.imgCode)">
					</td>
					<td>
						<h2 style="font-family:'Copperplate Gothic'; color:white">
							@songs.title
						</h2>
					</td>
				</tr>
			}
		</table>
	</div>
	</body>
</html>