@{
@model SpotifyFake.ViewModels.HomeViewRightMenuViewModel

	List<Albums> albums = Model.Albums;
	List<AlbumSongs> albumsSongs = Model.AlbumSongs;
	List<Songs> songs = Model.Songs;
	List<Artists> artists = Model.Artists;
	int[] estratti = new int[6];
	Random random = new Random();
	for(int i=0;i<albums.Count();i++)
	{
		estratti[i] = random.Next(0, albums.Count());
	}
}
<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CssRubatoW3S.css" asp-append-version="true" />
</head>
<html style="background-image: linear-gradient(rgb(34,34,34),rgb(18,18,18));overflow-y: hidden">
<body>
	<div class="right_menu_home">
		<div style="height:350px">
			<h2 style="color:white; font-family:'Copperplate Gothic'">
				Album di tendenza
			</h2>
			<table>
				<tr>
					@{
						foreach (Albums album in albums)
						{
							<td class="display_playlist" style="align-content:flex-start">
								<img class="display_img" src="~/media/images/albums/@(album.imgCode)">
								@{
									// if(albums.Count>pos)
									// {
										<h3 class="scritta_playlist">
											@album.name
										</h3>
										// AlbumSongs song_position = albumsSongs.Find(x => x.albumId == albums[estratti[pos]].albumId);
										// Songs song = songs.Find(x => x.id == song_position.songId);
										// Artists artist = artists.Find(x => x.id == song.artistid);
										// String stampa = "[E] " + artist.artname.ToString();
										// <h5 class="scritta_playlist" style="color:grey">
										// 	// @stampa
										// </h5>
									// }
									// else
									// {
									// 	<h3 class="scritta_playlist">
									// 		TitoloAlbum
									// 	</h3>
									// 	<h5 class="scritta_playlist" style="color:grey">
									// 		autore album
									// 	</h5>
									// }
								}
							</td>
						}
					}
				</tr>
			</table>
		</div>
		<hr />
		<div style="height:350px">
			<h2 style="color:white; font-family:'Copperplate Gothic'">
				Generi più ascoltati
			</h2>
			<table>
				<tr>
					@{
						foreach (int pos in estratti)
						{
							<td class="display_playlist" style="align-content:flex-start">
								<img class="display_img" src="" alt="cover genere">
								@{
									if (albums.Count < pos)
									{
										<h3 class="scritta_playlist">
											@albums[pos].name.ToString()
										</h3>
										AlbumSongs song_position = albumsSongs.Find(x => x.albumId == albums[pos].albumId);
										Songs song = songs.Find(x => x.id == song_position.songId);
										Artists artist = artists.Find(x => x.id == song.artistid);
										String stampa = "[E] " + artist.artname.ToString();
										<h5 class="scritta_playlist" style="color:grey">
											@stampa
										</h5>
									}
									else
									{
										<h3 class="scritta_playlist">
											NomeGenere
										</h3>
										<h5 class="scritta_playlist" style="color:grey">
											3 artisti random
										</h5>
									}
								}
							</td>
						}
					}
				</tr>
			</table>
		</div>
		<hr />
		<div style="height:350px">
						<h2 style="color:white; font-family:'Copperplate Gothic'">
				Artisti del momento
			</h2>
			<table>
				<tr>
					@{
						foreach (int pos in estratti)
						{
							<td class="display_playlist" style="align-content:flex-start">
								<img class="display_img" src="" alt="Foto Artista">
								@{
									if (albums.Count < pos)
									{
										<h3 class="scritta_playlist">
											@albums[pos].name.ToString()
										</h3>
										AlbumSongs song_position = albumsSongs.Find(x => x.albumId == albums[pos].albumId);
										Songs song = songs.Find(x => x.id == song_position.songId);
										Artists artist = artists.Find(x => x.id == song.artistid);
										String stampa = "[E] " + artist.artname.ToString();
										<h5 class="scritta_playlist" style="color:grey">
											@stampa
										</h5>
									}
									else
									{
										<h3 class="scritta_playlist">
											NomeArtista
										</h3>
										<h5 class="scritta_playlist" style="color:grey">
											genere/i
										</h5>
									}
								}
							</td>
						}
					}
				</tr>
			</table>
		</div>
	</div>
	</body>
<</html>

