@{
	@model SpotifyFake.ViewModels.IndexViewModel
}
<html style="background-color: black;">
<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/bocelli.css" asp-append-version="true" />
</head>
<body>
	<header class="top_menu" >
		<button type="button" class="home_button">
			<a href="http://localhost:5101/home/HomeViewRightMenu" target="iframe_home" style="opacity:0;font-size:200%">
				O
			</a>
		</button>
		<div class="topnav">
			<input type="text" placeholder="Search.." >
		</div>
	</header>
	<div class="right_menu">
		<iframe src="http://localhost:5101/Home/HomeViewRightMenu" style="border:none" height="100%" width="100%" name="iframe_home">

		</iframe>
	</div>
	<div class="left_menu" >

		<div style="height:50px">
			<h2 style="color:white; font-family:'Copperplate Gothic'; text-align:center">
				PLAYLIST
			</h2>
		</div>
		@foreach (Playlists playlists in Model.Playlists)
		{
				
			<div class="display_left" >
				<div style="height:40px; width:370px">
					<h2 style="color:white; font-family:'Copperplate Gothic'; text-align:center; line-height:40px" >
						<a href="http://localhost:5101/home/PlaylistDetails" target="iframe_home">
							@playlists.name
						</a>
				</h2>
				</div>
			</div>
					
		}

		

	</div>
	</body>
</html>