@{
	@model SpotifyFake.ViewModels.IndexViewModel
}
<html style="background-color: black;">
<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header class="top_menu" >
		<button type="button" class="home_button">

		</button>
		<div class="topnav">
			<input type="text" placeholder="Search.." >
		</div>
	</header>
	<div class="right_menu">
		@foreach (MusicTypes musicTypes in Model.musicTypes)
		{
			<p>
				@musicTypes.type
			</p>
		}
	</div>
	<div class="left_menu" >

	</div>
	</body>
</html>