@{
	@model SpotifyFake.ViewModels.PlaylistDetails
	List<Songs> songs = Model.Songs;
}

<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CssRubatoW3S.css" asp-append-version="true" />
</head>
<html style="background-image: linear-gradient(rgb(34,34,34),rgb(18,18,18));overflow-y: hidden">

	<body>

		

	</body>

	
</html>
