@{
	@model SpotifyFake.ViewModels.PlaylistDetails
}

<head>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CssRubatoW3S.css" asp-append-version="true" />
</head>
<html style="background-image: linear-gradient(rgb(34,34,34),rgb(18,18,18));overflow-y: hidden">
<body>
	@{
		if(Model.Songs.Count() != 0)
		{
			<div class="right_menu_home">
				<table style="top:20px; left:20px; position:relative">
					<tr>
						<td class="display_playlist_songs" style="align-content:flex-start">
							<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[0].imgCode)">
						</td>
						<td class="display_playlist_songs" style="align-content:flex-start">
							@if(Model.Songs.Count() > 1)
							{
								<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[1].imgCode)">
							}
							else
							{
								<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[0].imgCode)">
							}	
						</td>
						<td width="600px" style="text-align:center">
							<h1 style="font-size:65px; color:white; position:relative; top:70px">
								@Model.Playlist[0].name
							</h1>
						</td>
						<td>
							<h3 style="color:white; font-family:'Copperplate Gothic'; position:relative; left:250px; top:50px">
								ADD SONG
							</h3>
						</td>
					</tr>
					<tr>
						<td class="display_playlist_songs" style="align-content:flex-start">
							@if (Model.Songs.Count() > 2)
							{
								<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[2].imgCode)">
							}
							else
							{
								<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[0].imgCode)">
							}
						</td>
						<td class="display_playlist_songs" style="align-content:flex-start">
							@if (Model.Songs.Count() > 3)
							{
								<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[3].imgCode)">
							}
							else
							{
								<img class="display_img_songs" src="~/media/images/songs/@(Model.Songs[0].imgCode)">
							}
						</td>
						<td>
							<a style="color:white; font-size:60px; text-align:center; text-decoration:none; position:relative; left: 900px; top:-58px" href="http://localhost:5101/home/AllSongs?playlistId=@Model.PlaylistId">
								+
							</a>
						</td>
					</tr>
				</table>
				<hr style="top:10px; position:relative" />
				@foreach (Songs songs in Model.Songs)
				{
					<table style="top:50px; left:50px; position:relative; border-spacing:10px">
						<tr>
							<td style="align-content:flex-start; height:100px; width:100px">
								<img class="display_img_songs" src="~/media/images/songs/@(songs.imgCode)">
							</td>
							<td style="align-content:flex-start; height:80px; width:300px; position:relative; left:50px;">
								<h2 style="color:white; font-family:'Copperplate Gothic'">
									@songs.title
								</h2>
								<h5 class="scritta_playlist" style="color:grey">
									@songs.ArtistArtName
								</h5>
							</td>
						</tr>
					</table>

				}
			</div>
		}
		else
		{
			<div class="right_menu_home">
				<h2 style="color:white; text-align:center;">
					QUESTA PLAYLIST E' VUOTA
				</h2>
				<h2 style="color:white; text-align:center;">
					<a href="http://localhost:5101/home/AllSongs?playlistId=@Model.PlaylistId">
						AGGIUNGI CANZONI
					</a>
				</h2>
			</div>
		}
	}
	
	</body>

	
</html>
