<html>
<body >
    <a style="font-family:Papyrus;font-size:75px;color:white;position:absolute;top:10px">
        Privacy Policy
    </a>
    <img src="~/media/images/SystemImg/beak.jpg" style="max-width:100%;height:840px;position:relative;left:33%;top:130px" />
</body>
</html>
